
.container {
    margin-top: 10vh !important;
}


.blog-post {
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    margin: 10px;
}


.blog-post_date span {
    display: block;
    color: #00000080;
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.blog-post_title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #434343;
}

.blog-post_text {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    color: #000000b3;
}


@media screen and (max-width: 1068px) {
    .blog-post {
        max-width: 80rem;
    }


    .container h2 {
        /*margin-top: 120px;*/
        /*    margin-left: 275px;*/
    }
}

@media screen and (max-width: 868px) {
    .blog-post {
        max-width: 70rem;
    }

    .container h2 {
        margin-top: 20px;
        /*    margin-left: 142px;*/
    }
}

@media screen and (max-width: 768px) {
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
    }


    .container {
        /*margin-top: auto;*/
    }
}

@media screen and (max-width: 823px) {
    .container h2 {
        /*margin-top: 35px;*/
        /*margin-left: 142px;*/
    }
}